<h1>Index Page</h1>
<p>@ViewData["Message"]</p>
<p>Current Date: @ViewData["CurrentDate"]</p>0

<h1 >My compnay name is :@ViewData["CName"]</h1>

<a asp-controller="ViewTempData" asp-action="Details" asp-route-id="123">Go to Details</a>
